.habit {
    position: relative;
}

.habit .card-layout {
    margin-bottom: 2.4rem;
}

.habit .streak svg {
    width: 0.75rem;
    height: 0.75rem;
    color: #e25822;
    margin-right: 0.25rem;
}

.habit button svg {
    color: #5d86ff;
    width: 1.5rem;
    height: 1.5rem;
}

.habit .streak,
.habit .times-left {
    bottom: 0.6rem;
    position: absolute;
}

.habit .streak {
    right: 1.5rem;
}

.habit .small {
    position: absolute;
    bottom: 1.8rem;
}
