.project {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.project .left {
    width: 100%;
    grid-column: 1;
    grid-row: 1;
}

.project .right {
    width: 100%;
    grid-column: 2;
    grid-row: 1;
}
