.responsive-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

.page {
    margin: 1rem 1.5rem;
}

.page h2 {
    margin-bottom: 0.75rem;
    font-size: 1rem;
}

.card {
    border-radius: 0.35rem;
    padding: 1.5rem 1.563rem;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.card .right svg {
    width: 1.75rem;
    height: 1.75rem;
    margin: 0.1rem 0 0 0.75rem;
    padding: 0.25rem;
}

.card h2 {
    font-size: 1.2rem;
    letter-spacing: 2px;
}

.card h3 {
    margin-bottom: 0.3rem;
}

.card p {
    font-size: 0.8rem;
}

.card .right {
    font-size: 1.65rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: auto;
    width: 35%;
}
.card-layout {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.card .left {
    width: 65%;
}

.card .left > * {
    margin: 0;
}
